.content-item {
  position: relative;
  min-height: 150px;
}

.content-item__header {
  width: calc(100% - 20px);
  padding: 5px;
  padding-right: 50px;
  background-color: var(--accent);
  text-align: end;
}

.content-item__header > h2 {
  font-weight: 600;
  letter-spacing: 3px;
  color: #e7e7e7;
}

.content-item__list {
  padding: 25px;
}

.content-item__list-item {
  position: relative;
  display: flex;
  gap: 10px;
}

.full-text-area {
  width: calc(100% - 50px);
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #808080;
  margin: 25px;
  font-family: inherit;
}

.full-text-area:focus {
  border-color: #000;
}

.marker {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  background-color: var(--accent);
}

.content-item__list-item > section {
  text-align: center;
}

.content-item__list-item > section:first-of-type {
  width: 30%;
  margin-top: 10px;
}

.content-item__list-item > section:last-of-type {
  width: 50%;
  margin-left: auto;
}

.content-item__list-item > section > :last-child {
  margin-top: 5px;
}

.delete-icon {
  position: absolute;
  top: 50%;
  left: 100%;
  translate: 0 -50%;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.content-item__list-item:hover .delete-icon {
  opacity: 1;
}

.content-item__list-form {
  margin-top: 10px;
}

.content-item__list-form > main {
  padding: 5px;
  border: solid 1px #808080;
  border-radius: 10px;
}

.content-item__list-form > main:focus-within {
  border-color: #000;
}

.content-item__list-form > main input,
.content-item__list-form > main textarea {
  font-family: inherit;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.content-item__list-form > main textarea {
  padding: 5px;
}

.input-row {
  display: flex;
  align-items: center;
}

.input-row label {
  display: flex;
  align-items: center;
  flex: 1;
}

.input-row input[pattern] {
  border-bottom: solid 1.5px transparent;
  border-radius: 5px;
}

.input-row svg {
  color: #d1453b;
  visibility: hidden;
}

.input-row label:first-child svg {
  margin-right: 3px;
}

.input-row input:invalid + svg {
  visibility: visible;
}

.input-row > div {
  width: 1.5px;
  height: 20px;
  background-color: #000;
}

.content-item__list-form > footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.content-item__list-form > footer button {
  padding: 5px 10px;
  border: solid 1px #000;
  border-radius: 5px;
  cursor: pointer;
}

.content-item__list-form > footer button[type="reset"]:hover {
  background-color: #e5e5e5;
}

.content-item__list-form > footer button[type="submit"] {
  border-color: var(--accent);
  background-color: var(--accent);
  color: #eee;
}

.content-item__list-form > footer button[type="submit"]:hover {
  opacity: 0.8;
}

.add-item-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px 0;
  color: var(--accent);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.add-item-btn > * {
  transition: color 0.3s ease;
}

.add-item-btn > svg {
  box-sizing: border-box !important;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 100px;
  transition: background 0.3s ease;
}

.add-item-btn:not(:hover) > span {
  color: #000;
}

.add-item-btn:hover > svg {
  color: var(--bg);
  background-color: var(--accent);
}

.about-me .edit-btn,
.content-item .edit-btn {
  top: 30px;
  right: 3px;
}

.about-me:hover .edit-btn,
.content-item:hover .edit-btn {
  opacity: 1;
}
